name: Docker build

on: [push, pull_request]

jobs:
  test:
    name: Test the Docker image

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Lint the Dockerfile
        uses: hadolint/hadolint-action@v3.1.0

      - name: Build the Docker image
        run: docker build .
