name: Docker build

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test the Docker image

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Lint the Dockerfile
        uses: hadolint/hadolint-action@v3.0.0

      - name: Build the Docker image
        run: docker build .
