name: Docker build

on: [push, pull_request]

jobs:
  test:
    name: Test the Docker image

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Lint the Dockerfile
        uses: hadolint/hadolint-action@v3.0.0

      - name: Build the Docker image
        run: docker build --tag test .

      - name: Try to run the Docker image
        run: docke run --rm test agent -help
