name: Docker build

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test the Docker image

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Lint the Dockerfile
        uses: hadolint/hadolint-action@v3.1.0

      - name: Build the Docker image
        run: docker build --tag test .

      - name: Try to run the Docker image
        run: |
          docker run --rm test version
          docker run --rm test agent -help
